body{
    margin: 20px;
}

.search{
    width: 250px;
}

.box{
    display: flex;
    flex-direction: column;
}

.element{
    display: flex;
    justify-content: space-between;
    border: 2px #0c4128 solid;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 250px;
}

