body{
    margin: 20px;
}

.search{
    height: 30px;
}

.box{
    display: flex;
    flex-direction: column;
}

.element{
    display: flex;
    justify-content: space-between;
    border: 2px #0c4128 solid;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 280px;
}

.text{
    display: flex;
    justify-content: start;
}

.elementButton{
    display: flex;
    justify-content: space-between;
    border: 2px #0c4128 solid;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 280px;
}

.detailsBox{
    border: 2px #0c4128 solid;
    width: 200px;
    padding: 10px;
}

.boxDetail{
    border: 2px #0c4128 solid;
    width: 200px;
    padding: 10px;
}

